<main class="main">
  <div class="main__results--container">
    <h2 class="main__title--results">YOUR RESULTS</h2>
    <div class="main__display--results js-displayResults">
      <ul class="js-resultList"></ul>
    </div>
  </div>
  <aside class="main__aside--container">
    <h2 class="main__title--favorites">
      <i class="fas fa-heart"></i>Favorites
    </h2>
    <div class="main__display--favorites js-displayFavorites">
      <ul class="main__list--favorites js-favoritesList"></ul>
    </div>
  </aside>
</main>
