<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Buscador de películas</title>
    <script src="https://kit.fontawesome.com/e67105b875.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Red+Hat+Text&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <div class="page">
      <partial src="_header.html" label="Buscador"></partial>
      <partial src="_main.html" label="Resultados Favoritos"></partial>
    </div>
    <script type="text/javascript" src="./assets/js/main.js"></script>
  </body>
</html>
