.main {
  background-color: pink;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  &__results--container {
    width: 60%;
  }

  &__aside--container {
    width: 30%;
  }

  &__title--results {
    font-family: $font;
    text-align: center;
    margin-bottom: 10px;
  }

  &__title--favorites {
    font-family: $font;
    margin-left: 5px;
  }
}

.js-resultList {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result-itemName {
  font-family: $font;
  text-align: center;
  list-style: none;
}
