.main {
  background-color: pink;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  &__results--container {
    width: 60%;
  }

  &__aside--container {
    width: 30%;
  }

  &__title--results {
    font-family: $font;
  }

  &__title--favorites {
    font-family: $font;
    margin-left: 5px;
  }
  &__list--favorites {
    list-style: none;
  }
}

.result-itemName {
  font-family: $font;
  text-align: center;
}
