.main {
  height: 100vh;
  background-color: $mark-color;
  display: flex;
  justify-content: space-between;

  &__results--container {
    width: 65%;
  }

  &__aside--container {
    width: 35%;
    background-color: $primary-color;
  }

  &__title--results {
    color: $primary-color;
    font-family: $font;
    font-size: 30px;
    text-align: center;
    margin: 15px 10px 40px 10px;
  }

  &__title--favorites {
    text-align: center;
    color: $secondary-color;
    font-family: $font;
    font-size: 30px;
  }
}
.fa-heart {
  color: $mark-color;
  margin: 15px 10px 40px 10px;
}
.js-resultList {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result-itemName {
  font-family: $font;
  text-align: center;
  list-style: none;
}
